body{
    margin: 0;
  }
  .heading {
  color: b#6C63FF;
  font-size: 50px;
  text-align: center;
  margin-left: 450px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .nav-container {
  height: 50px;
  display: grid;
  grid-template-columns: 65% 35%;
  width: 100%;
  background-color:#6C63FF;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .nav-section1 {
  
  }
  
  .logo {
  width: 40px;
  height: 50px;
  background-image: url('./assets/pic3.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;    
  padding-left: 50px;
  padding-right: 30px;
  }
  
  .nav-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: whitesmoke;
  text-decoration: whitesmoke;
  font-weight: bold;
  text-align: left;
  }
  
  .body-right-image {
    width: 600px;
    height: 600px;
  background-image: url('../assets/Cycling.svg');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
    margin-top: 280px; 
    margin-right: 100px;
  }
  
  .page-body {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .body-left{
    padding-top: 200px;
    padding-left: 100px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .body-center {
    padding-top: 200px;
    padding-left: 100px;
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Example styles for Grilled Lemon Herb Chicken  */
  
  /* Style for h1 tag */
  h1 {
    color: #6C63FF;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Style for h2 tag */
  h2 {
    color: #6C63FF;
    font-size: 1.5rem;
    margin-top: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  /* Style for footer tag */
  footer {
    color: grey;
    font-size: 1rem;
    text-align: 90rem;
  }